{% extends "layout.html" %}
{% block content %}
<style>
    body{
        width: 100%;
        height: 700px;
        background-image: url('../static/kitchen_fade.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .btn-container{
        margin-top: 30px;
        text-align: center;
    }

    .button {
        border: none;
        color: white;
        padding: 8px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
        margin: 2px 1px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        z-index: 9;
    }
    
    .button1 {
        background-color: white; 
        color: black; 
        border: none;
    }
    
    .button1:hover {
        background-color: #f8a81d;
        color: white;
    }
    
    .text-block{
        width:100%;
        opacity:0.95;
        margin-top: 285px;
        padding-left: 225px;
        padding-right: 225px;
        padding-bottom: 300px;
    }

    .myDiv{
        display:none;
    } 

    table {
      font-family: arial, sans-serif;
      font-size: small;
      border-collapse: collapse;
      width: 60%;
      margin-left: 20%;
    
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

</style>



<form action="{{ url_for('calculator_output')}}", method="post">
    <div class="text-block">
        <div class="jumbotron"style="padding-left: 10%; padding-right: 10%">

            <h1 class="display-4" style="color:rgb(0,163,175); font-size: 50px">Heat Loss Estimator</h1>
            <h1 class="display-4" style="color:red; font-size: 50px">Development Version for Review Purposes Only - Not for Actual Sizing</h1>
            <p class="">Heat loss in a home occurs through conduction in the walls, floor, roof, windows and doors or through air leaks.
                This calculator uses historical gas utility data and existing furnace efficiency to estimate the heat loss of a home.
            </p>
            <hr class="my-4">

            <p class="lead">Enter your annual gas use for 2023 in m<sup>3</sup>:</p>

            <div class="form-row">
                <div class="col">
                    <input style="width:30%" type="number" class="form-control" name="gasuse_total" id="gasuse_total" required/>
                    <small class="form-text text-muted">Information available on your <a href="https://www.enbridgegas.com/residential/my-account" target="_blank">
                        Enbridge</a> account under “My Gas Use”, then “View Annual Statement for Taxes".</small>
                </div>
            </div>
            <br>
            <div class="form-input">
                <p class="lead">Enter your average monthly gas use for domestic hot water (and other end uses such as a stove or dryer) in m<sup>3</sup>:</p> 
            </div>
            <div class="form-row" >
                <div class="col">
                    <input style="width:30%" type="number" class="form-control" name="dhw_monthly" id="dhw_monthly" min="0" required/>
                    <small class="form-text text-muted">This can be estimated as the annual monthly consumption from the summer gas bills.
                        In this calculator, the gas consumption of a fireplace (if present) is treated equivalently as gas consumption from a furnace. 
                        If a gas fireplace is present and frequently used, the predicted gas savings from using heat pump may be lower in practice.
                    </small>
                </div>
            </div>
            <br>
            <div class="form-input">
                <p class="lead">Enter the building balance point temperature (in &deg;C):</p>
            </div>
            <div class="form-row" >
                <div class="col">
                    <input style="width:30%" type="number" class="form-control" name="balance_point" id="balance_point" min="0" required/>
                    <small class="form-text text-muted">This is the temperature above which the furnace is no longer required to maintain the indoor temperature set-point. 
                        It may be between 12&deg;C and 16&deg;C for the average home. For highly insulated homes or townhomes, it may be lower.
                        If the home has a smart thermostat, then there may be data available that can help estimate the balance point. It can also be estimated based on conversation with the homeowner. 
                        If the balance point value is uncertain then it is best to assume different values and look at the impact on heat pump sizing.
                    </small>
                </div>
            </div>
            <br>
            <div class="form-input">
                <p class="lead">Enter the efficiency of the existing furnace used in 2023 (as a %):</p>
            </div>
            <div class="form-row" >
                <div class="col">
                    <input style="width:30%" type="number" class="form-control" name="furnace_eff" id="furnace_eff" min="0" step="0.5" max="100" required/>
                    <small class="form-text text-muted">A high-efficiency furnace has an efficiency greater than 90% and up to 95%. 
                        Note that mid-efficiency furnaces (80% to 90% efficient) were phased-out in Ontario as of 2009, but could still be in existing homes.</small>
                </div>
            </div>
            <br>
            <div class="form-input">
                <p class="lead">Enter a safety margin for the heat loss estimate (as a %):</p>
            </div>
            <div class="form-row" >
                <div class="col">
                    <input style="width:30%" type="number" class="form-control" name="derate" id="derate" min="0" max="100" value="20" required/>
                    <small class="form-text text-muted">The calculation algorithm determines the average heat loss, but heat loss can be greater overnight or in windy conditions (or lower during the day or without wind). 
                        The safety margin takes adds a small correction to account for the fact that heat loss can be greater than the average in some conditions. A value of 20% or greater is recommended.</small>
                </div>
            </div>
            <br>
            <p class="lead">Select a city from the list below:</p>
            <select class="form-control" type="text" name="location" id="location" style="width:30%" required>
                <option value="">Select a City</option>
                <option value="brampton">Brampton</option>
                <option value="caledon">Caledon</option>
                <option value="mississauga">Mississauga</option>
                <option value="toronto">Toronto</option>
            </select>
            <small class="form-text text-muted">If your city is not listed, select the closest available option</small>
            
            <div class="btn-container">
                <button class="button button1" type="submit" name = "submitcheck" id = "submit_check" style="margin-right:30px;">Calculate</button>
            </div>
            <hr class="my-4">
            {% endblock content %}
        </div>
        
    </div>
</form>
